---
Checks: >
    modernize-*,
    bugprone-*,
    cppcoreguidelines-*,
    cert-*,
    misc-*,
    performance-*,
    readability-*,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -readability-redundant-access-specifiers,
    -readability-else-after-return,
FormatStyle: file
