# EditorConfig -- http://editorconfig.org/
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[Makefile*]
indent_style = tab

[*.{json,yaml,yml}]
indent_size = 2

[*.{h,hpp,c,cc,cpp,hxx,cxx}]
indent_size = 2

[*.lua]
indent_size = 4

[*.html]
indent_size = 2

[*.rst]
indent_size = 4
