Benjamin Morgan <benjamin.morgan@bosch.com>             <benjamin.morgan@de.bosch.com>
Adam Fuhl <adam.fuhl@bosch.com>                         <adam.fuhl@hu.bosch.com>
Adam Fuhl <adam.fuhl@bosch.com>                         <adam.fuhl@de.bosch.com>
Adam Fuhl <adam.fuhl@bosch.com>                         <fuh2bp@de.bosch.com>
Henning Classen <henning.classen@bosch.com>             <henning.classen@de.bosch.com>
Henning Classen <henning.classen@bosch.com>             <ch72si0@abtz0c6b.abt.de.bosch.com>
Robin Keller <robin.keller@bosch.com>                   <robin.keller@de.bosch.com>
Angela Kramer <angela.kramer@bosch.com>                 <angela.kramer@de.bosch.com>
Andreas Fischer <andreas.fischer10@bosch.com>           <andreas.fischer10@de.bosch.com>
Alicja Hellermann <alicja.hellermann@bosch.com>         <alicja.hellermann@de.bosch.com>
Alicja Hellermann <alicja.hellermann@bosch.com>         <alicja.palczynska@de.bosch.com>
Fabian Moik <fabian.moik@bosch.com>                     <mfo2lr@lr-z2148.lr.de.bosch.com>
Giuseppe Celentano <giuseppe.celentano@de.bosch.com>    <giuseppe.celentano@de.bosch.com>
Jan Bernloehr <jan.bernloehr@bosch.com>                 <jan.bernloehr@de.bosch.com>
Jan Bernloehr <jan.bernloehr@bosch.com>                 <bje2lr@lr-z4499.lr.de.bosch.com>
Jan Bernloehr <jan.bernloehr@bosch.com>                 <bje2lr@lr-z4499.abt.de.bosch.com>
Marietta Inge Bloch <mariettainge.bloch@bosch.com>      <mariettainge.bloch@de.bosch.com>
Marietta Inge Bloch <mariettainge.bloch@bosch.com>      <blm2lr@lr-z2148.lr.de.bosch.com>
Marius Jansen <marius.jansen@bosch.com>                 <marius.jansen@de.bosch.com>
Marius Jansen <marius.jansen@bosch.com>                 <jam2lr@lr-z5814.lr.de.bosch.com>
Marius Rhein <marius.rhein@outlook.com>                 <fixed-term.marius.rhein@bcn.bosch.com>
Martin Henselmeyer <martin.henselmeyer@bosch.com>       <martin.henselmeyer@de.bosch.com>
Martin Schmitt <martin.schmitt2@bosch.com>              <martin.schmitt2@de.bosch.com>
Martin Schmitt <martin.schmitt2@bosch.com>              <smm4si@abtz0k8i.abt.de.bosch.com>
Mike Spahr <mike.spahr@bosch.com>                       <mike.spahr@de.bosch.com>
Mike Spahr <mike.spahr@bosch.com>                       <sap7si@abtz0ega.abt.de.bosch.com>
Norbert Baumgartner <norbert.baumgartner@bosch.com>     <norbert.baumgartner@hu.bosch.com>
Norbert Baumgartner <norbert.baumgartner@bosch.com>     <bno2bp@bp-f7667.bp.emea.bosch.com>
Oliver Abendroth <oliver.abendroth@bosch.com>           <oliver.abendroth@de.bosch.com>
Oliver Abendroth <oliver.abendroth@bosch.com>           <abendroth.oliver@de.bosch.com>
Peter Hobor <peter.hobor@bosch.com>                     <peter.hobor@hu.bosch.com>
Thomas Grosser <thomas.grosser@bosch.com>               <thomas.grosser@de.bosch.com>
Tobias Falkenstein <tobias.falkenstein@bosch.com>       <tobias.falkenstein@de.bosch.com>
Xiake Sun <fixed-term.xiake.sun@de.bosch.com>
Yann Labou <yann.labou@bosch.com>                       <yann.labou@de.bosch.com>
