Benjamin Morgan <benjamin.morgan@bosch.com>             <benjamin.morgan@de.bosch.com>
Benjamin Morgan <benjamin.morgan@bosch.com>             <benjamin.morgan@bosch.com>
Henning Classen <henning.classen@bosch.com>             <henning.classen@de.bosch.com>
Henning Classen <henning.classen@bosch.com>             <code@clssn.de>
Matthias Schleicher <matthias.schleicher@bosch.com>     <matthias.schleicher@de.bosch.com>
Martin Henselmeyer <martin.henselmeyer@bosch.com>       <martin.henselmeyer@de.bosch.com>
Martin Henselmeyer <martin.henselmeyer@bosch.com>       <85506545+clsim@users.noreply.github.com>
Tobias Falkenstein <tobias.falkenstein@bosch.com>       <tobias.falkenstein@de.bosch.com>
Patrick Schuster <patrick.schuster2@bosch.com>          <patrick.schuster2@bosch.com>
Patrick Schuster <patrick.schuster2@bosch.com>          <patrick.schuster2@de.bosch.com>
Patrick Schuster <patrick.schuster2@bosch.com>          <fixed-term.patrick.schuster3@bosch>
Franco Guidi <franco.guidi2@bosch.com>                  <franco.guidi2@de.bosch.com>
