# Docker recipe not required in image:
Dockerfile
Makefile.docker

# Secrets should be mounted with --secret:
setup.sh

# Build artifacts:
build/
**/build/

# VTD Docker image should be built separately:
vendor/vtd/dl
