name: Build Documentation

on:
  push:
    branches:
      - master
      - develop
      - 'release/**'
  pull_request:
    paths:
      - "docs/**"
      - "*.hpp"

jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Build Doxygen documentation
        uses: mattnotmitt/doxygen-action@v1.9.5
        with:
          working-directory: docs
      - name: Build Sphinx documentation
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: docs
          build-command: make html
      - name: Upload documentation
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: docs/_build/html/
