name: Build Cloe

on:
  push:
    branches:
      - master
      - develop
      - 'release/**'
  pull_request:
    paths-ignore:
      - "*.md"
      - ".gitignore"
      - "LICENSE"
      - "dist/**"
      - "docs/**"
      - "ui/**"

jobs:
  build-cloe:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        build_type: [RelWithDebInfo]
        package_target: [package]
    env:
      CONAN_NON_INTERACTIVE: "yes"
      DEBIAN_FRONTEND: noninteractive
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install system dependencies
        run: |
          sudo apt-get update &&
          sudo apt-get install -y make locales &&
          sudo make -f Makefile.setup \
            DEBIAN_FRONTEND=noninteractive \
            APT_ARGS="--no-install-recommends -y" \
            install-system-deps \
            &&
          sudo locale-gen
      - name: Install Python dependencies
        run: |
          sudo pip3 install --upgrade pip &&
          make -f Makefile.setup PIP_INSTALL_ARGS="" install-python-deps
      - name: Configure Conan
        run: |
          make setup-conan
      - name: Build cloe w/ package
        run: |
          make ${{ matrix.package_target }}
      - name: Build smoketest dependencies
        run: |
          make smoketest-deps
      - name: Run smoketests
        run: |
          make smoketest
