name: Build UI

on:
  push:
    branches:
      - master
      - develop
      - 'release/**'
  pull_request:
    paths:
      - "ui/**"

jobs:
  node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16, 18]
    defaults:
      run:
        working-directory: ./ui
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          cache-dependency-path: ui/yarn.lock
      - name: Setup yarn and install
        run: npm install -g yarn && yarn install
      - name: Run Build ${{ matrix.node }}
        run: |
          read version _ <<< $(node --version)
          echo $version
          if [[ $version == "v18"* ]]; then
              npm run build_v18
          else 
              npm run build
          fi
        shell: bash

